<!DOCTYPE html>
<html>
<head>
  <title>Create a Puppy!</title>
</head>
<body>
  <h1>Welcome to the Pet Adoption Store!</h1>

  <form method="GET" action="/new">
    <a href="create_puppy.erb">Click Here To List A Puppy</a>

  </form>
</body>
</html>
