<!DOCTYPE html>
<html>
<head>
  <title>Create a Puppy!</title>
</head>
<body>
  <h1>Welcome to the Pet Adoption Store!</h1>

  <form method="POST" action="/new">
    <input type="submit" id="submit" value="Click Here To List A Puppy">
  </form>
</body>
</html>
